@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap');

body {
    font-family: 'Proxima Nova', Arial, sans-serif;
    background: linear-gradient(45deg, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #FCAF45, #FFDC80);
    background-size: 1800% 1800%;
    animation: gradient 10s ease infinite;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
    z-index: 1;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.header {
    color: #666;
    margin-bottom: 20px;
    font-size: 1.2em;
}

input[type="file"] {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-family: 'Proxima Nova', Arial, sans-serif;
    font-size: 1em;
}

button {
    background-color: #bc2a8d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Proxima Nova', Arial, sans-serif;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8a3ab9;
}

h2 {
    color: #333;
    margin-top: 20px;
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.profile-link:hover {
    text-decoration: underline;
}